<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4r %-5p [%d{yyyy-MM-dd HH:mm:ss}] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <file>/home/logs/h5.skstravel.com.txt</file>
        <encoder>
            <pattern>%-4r %-5p [%d{yyyy-MM-dd HH:mm:ss}] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/home/logs/h5.skstravel.com.%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root>
        <level value="debug"/>
        <level value="error" />
        <level value="info" />
        <appender-ref ref="FILE" />
        <!--<appender-ref ref="console" />-->
    </root>

</configuration>